{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "env": {
    "jasmine": true
  },
  "globals": {
    "ReactClass": true,
    "fetch": true,
    "__DEV__": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "trailingComma": "all",
      "singleQuote": true
    }],

    "global-require": 0,
    "no-console": ["error", { allow: ["info", "warn"] }],
    "no-use-before-define": 0,
    "no-empty": 0,

    # "no-param-reassign": ["error", { "props": false }],
    # "class-methods-use-this": ["error", { "exceptMethods": ["handleConnectionInfoChange", "scanning", "onValue", "_getLogactionmanw", "_updateReduxMeteorCollection", "_configureScene", "getTime", "hiddenPicker", "render", "deleteSpace", "_renderRow", "_renderSeparator", "getView", "spilitText", "getSubtitle", "componentWillUnmount", "getDeafultValue", "_setHeight", "_closeInterval", "componentWillMount", "componentWillReceiveProps", "setStopStatus","moveDown","moveStop"] }],
    # "func-names": ["error", "never"],
    # "no-bitwise": ["error", { "allow": [">>", "<<"] }],
    # "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["limitsValue", "err", "user", "state"] }],
    # "radix": ["error", "as-needed"],
    # "no-underscore-dangle": 0,
    # "no-use-before-define": 0,
    # "no-unused-expressions": 0,
    # "new-cap": 0,
    # "no-plusplus": 0,
    # "no-class-assign": 0,
    # "no-duplicate-imports": 0,

    # "import/extensions": 0,
    # "import/no-extraneous-dependencies": 0,
    # "import/no-unresolved": 0,

    "react/jsx-filename-extension": [
      0, { "extensions": [".js", ".jsx"] }
    ]

    # "react/sort-comp": 0,
    # "react/prefer-stateless-function": 0,

    # "react/forbid-prop-types": 1,
    # "react/prop-types": 0,
    # "react/require-default-props": 0,
    # "react/no-unused-prop-types": 0
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
